<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Raise Fund</title>
</head>
<body>

    <div class="main" style="position: relative;bottom: 20px;">

        <!-- Sign up form -->
        <section class="fund" style="background-color: #f8f8f8;height: 64ex;">
            <div class="container" style="width: fit-content;" >
                <div class="signup-content">
                    <div class="signup-form" style="width:400px;">
                        <h2 class="form-title">Password reset</h2>
                        <form #changeform="ngForm" method="POST" class="register-form" id="register-form" (ngSubmit)="change(changeform.value)">
                            <div class="form-group">
                                <label for="fund"><i class="zmdi zmdi-email"></i></label>
                                <input type="password"  name="oldPass" id="fund" placeholder="current password" required [(ngModel)]="data.oldPass" style="font-size: 16px;" />
                            </div>
                            <div class="form-group">
                                <label for="amount"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="newPass" id="pass" placeholder="new password" required [(ngModel)]="data.newPass" style="font-size: 16px;"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="change" id="raisefund" class="form-submit" value="Change password"/>
                            </div>
                        </form>
                        <br>
                        <ng-container *ngIf="status==='success'" >
                          <p style="font-family: poppins;">Password changed..!</p>
                        </ng-container>
                        <ng-container *ngIf="status==='failed'" >
                          <p style="font-family: poppins;">reset failed..!</p>
                        </ng-container>
                        <ng-container *ngIf="status==='invalid'" >
                          <p style="font-family: poppins;">incorrect password..!</p>
                        </ng-container>
                        <ng-container *ngIf="status==='weak_password'" >
                          <p style="font-family: poppins;">set a strong password..!</p>
                        </ng-container>
                        <a routerLink="/home" >Go home</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
