<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fundraiser Login</title>

</head>
<body>

    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/assets/images/signin-image.jpg" alt="sing in image"></figure>
                        <a href="#" class="signup-image-link">New User? Create an Account.</a>
                    </div>

                    <div class="signin-form">
                      <h2 class="form-title">Fundraiser Login</h2>
                      <form #fundraiserlogin="ngForm" class="register-form" id="login-form" (ngSubmit)="login(fundraiserlogin.value)">
                          <div class="form-group">
                              <label for="email"><i class="zmdi zmdi-email"></i></label>
                              <input type="email" name="email" id="email" placeholder="Your Email" required [(ngModel)]="user.umail"/>
                          </div>
                          <div class="form-group">
                              <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                              <input type="password" name="pass" id="your_pass" placeholder="Password"  required [(ngModel)]="user.upwd"/>
                          </div>
                          <div class="form-group form-button">
                              <input type="submit" name="signin" id="signin" class="form-submit"  value="Log in"/>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
</body>
</html>
